{
    "env": {
      "browser": true
    },
    "rules": {
        "indent": [
            "error",
            "tab"
        ]
    },    
    "extends": "airbnb",
    
    "parser": "babel-eslint"
  }